.list__title {
  margin-bottom: 12px;
  text-align: center;
  color: #C9AC8C;
  font-size: 32px;
}
.list__link {
  padding: 10px;
  color: #ffffff99;
  opacity: 0.6;
  font-size: 18px;
}
.card__item {
  border-radius: 22px;
  background-color: #1E1E1E;
}
.card__name {
  color: #C9AC8C;
  font-size: 24px;
  font-weight: 500;
}
.card__year {
  color: #ffffff99;
  font-size: 16px;
}