.header__title {
  color: #C9AC8C;
  font-family: Poppins;
  font-size: 25px;
}
.header__link {
  display: inline-block;
  padding: 10px;
  color: #FFF8;
  font-family: Poppins;
  font-size: 16px;
  line-height: 144.4%;
}
.header__link-active {
  color: #fff;
}